* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }

body {
font-family: Arial, sans-serif;
background: #f4f4f4;
color: #222;
}

header {
background: #111;
color: white;
padding: 25px;
text-align: center;
}

.home {
text-align: center;
padding: 80px 20px;
}

.home h2 {
margin-bottom: 15px;
font-size: 30px;
}

.home p {
margin-bottom: 30px;
}

.buttons {
display: flex;
justify-content: center;
gap: 15px;
}

.btn {
text-decoration: none;
background: #111;
color: white;
padding: 12px 25px;
border-radius: 8px;
}

.btn:hover {
background: #333;
}

.form-container {
width: 90%;
max-width: 400px;
margin: 60px auto;
background: white;
padding: 30px;
border-radius: 12px;
box-shadow: 0 5px 20px rgba(0,0,0,0.1);
text-align: center;
}

.form-container h1 {
margin-bottom: 10px;
}

.form-container h2 {
margin-bottom: 25px;
}

form {
display: flex;
flex-direction: column;
gap: 15px;
}

input {
width: 100%;
padding: 13px;
border: 1px solid #ccc;
border-radius: 7px;
font-size: 16px;
}

button {
border: none;
padding: 13px;
background: #111;
color: white;
border-radius: 7px;
cursor: pointer;
font-size: 16px;
}

button:hover {
background: #333;
}

.form-container p {
margin-top: 20px;
}

.form-container a {
color: #111;
font-weight: bold;
}

#loginMessage,
#signupMessage {
margin-top: 15px;
}

.store-header {
display: flex;
justify-content: space-between;
align-items: center;
text-align: left;
}

.store-header button {
width: auto;
}

main {
padding: 30px;
}

.products {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
gap: 20px;
margin-top: 20px;
}

.product {
background: white;
padding: 20px;
border-radius: 10px;
box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.product img {
width: 100%;
height: 180px;
object-fit: cover;
border-radius: 8px;
}

.product h3 {
margin: 12px 0 5px;
}

.product p {
margin: 7px 0;
}

.product button {
width: 100%;
margin-top: 10px;
    }
